/* CSS Document */

background:url(https://img.offtrackbetting.com/images/contests/brickheaders/sub.gif)

background: url(https://img.offtrackbetting.com/images/contests/brickheaders/sub.gif)

background: url(https://img.offtrackbetting.com/images/scores/data/post-tab2.gif)

background: url(https://img.offtrackbetting.com/images/scores/data/pre-tab2.gif)

background:url(https://img.offtrackbetting.com/images/contests/index/set-top.gif)

background:url(https://img.offtrackbetting.com/images/contests/index/set-bottom.gif)

background:url(https://img.offtrackbetting.com/images/contests/general/book.gif)

background:url(https://img.offtrackbetting.com/images/shared/header/pointers/images/covers.gif)

url(https://img.offtrackbetting.com/images/covers/backgrounds/menu_shadow-trans.png)

background:url(https://img.offtrackbetting.com/images/covers/common/ex.gif)

background: url(https://img.offtrackbetting.com/images/covers/canada/canada-flag.gif)

background: url(https://img.offtrackbetting.com/images/covers/columnists/columnist-back.gif)

background: transparent url(https://img.offtrackbetting.com/images/shared/common/bullet.gif)

url(https://img.offtrackbetting.com/images/covers/brick_headers/maingrad.gif)


https://img.offtrackbetting.com/images/covers/brick_headers/pointers/contests-c.png

https://img.offtrackbetting.com/images/covers/brick_headers/pointers/freepicks-c.png

https://img.offtrackbetting.com/images/covers/brick_headers/pointers/community-c.png

background:url(https://img.offtrackbetting.com/images/covers/brick_headers/pointers/images/covers-c.png)
https://img.offtrackbetting.com/images/covers/brick_headers/pointers/images/covers-c.png

background: url(https://img.offtrackbetting.com/images/covers/brick_headers/slantindex.gif)

background: url(https://img.offtrackbetting.com/images/covers/brick_headers/mainslant.gif)

background-image: url(https://img.offtrackbetting.com/images/covers/betting/check.gif);

url(https://img.offtrackbetting.com/images/covers/betting/index/background.gif)

url(http://images.covers.com/images/covers/betting/index/sportsbook_bottom_tall.jpg)

url(https://img.offtrackbetting.com/images/covers/betting/index/community_brick.jpg)

background:url("https://img.offtrackbetting.com/images/shared/backgrounds/roundbox_tr.gif")

url("https://img.offtrackbetting.com/images/shared/backgrounds/roundbox_tl.gif")

url("https://img.offtrackbetting.com/images/shared/backgrounds/roundbox_br.gif")

url("https://img.offtrackbetting.com/images/shared/backgrounds/roundbox_bl.gif")