#main {
    padding-top: 56px;
}

@media screen and (min-width: 0px) and (max-width: 659px) {
    #main {
        padding-top: 93px !important;
    } 
}

#loginConf_bg {
	width: 100%;
	height: 500px;
	float: left;
	position: relative;
	color: #fff;
	background: transparent url('https://img2.offtrackbetting.com/images/backgrounds/security.jpg') -300px 0 repeat-x;
	}

#loginConf_bgFade {
	background: black 0 0 no-repeat;
	opacity:0.6;
	filter:alpha(opacity=60);
	width: 75%;
	height: 446px;
	border: 1px white solid;
	position: absolute;
	top:20px;
	right:20px;
	}

#loginConf_txtWrap {
	position: absolute;
	top: 30px;
	right: 20px;
	width: 75%;
	}
	
#loginConf_txtWrap p {
	padding: 5px;
	color: white;
	text-align: center;
	font-family: Arial, sans-serif;
	margin: 0px;
}

#loginConf_txtWrap hr {
	width: 90%;
	border-color: white;
	float:none;
}

.p32 {
	font-size: 32px;
	font-weight: bold;
	line-height: 32px;
}

.p24 {
	font-size: 24px;
	font-weight: bold;
	line-height: 24px;
}

.p16 {
	font-size: 16px;
	line-height: 16px;
}

.tryagain {
	width: 100%;
	font-size: 1.1em;
	line-height: 1.4em;
}

.tryagain a, .tryagain a:hover, .tryagain a:focus, .tryagain a:visited {
    color: white;
}